@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
	margin: 0; padding: 0;
	color: #ffffff;
	font-family: 'LINESeedKR-Bd';
}
a{
	text-decoration: none;
	color: #ffffff !important;
}

ul{ list-style: none; }

/*---------------헤더 메뉴---------------*/
.topmenu{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 15px;
}

.movelink{ font-size: 15px; }
/*---------------로고---------------*/
.logo{
	font-family: 'LINESeedKR-Bd';
	font-size: 80px;
	text-align: center;
	color:#ff0000;
}
/* 메뉴 */
.menu1{ margin-top: 25px;}
/*---------------본문 아이템---------------*/
.itembox{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
	width: 25%;
    margin: 2%;
}
.item img{ width: 100%; }
.name{
	font-size: 18px;
	margin: 5% 0%;
}
/*---------------하단---------------*/

.footbox{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footnav li{ 
	margin: 0px 15px;
	color: #505050;
	font-size: 12px;
	padding: 15px 0px;
}

















