@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
	margin: 0; padding: 0;
	color: #ffffff;
	font-family: 'LINESeedKR-Bd';
}
a{
	text-decoration: none !important;
	color: #ffffff !important;
}
ul{
	list-style: none;
}
/*---------------헤더 메뉴---------------*/
.topmenu{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 15px;
}
/*---------------링크 이동---------------*/
.movelink{
	font-size: 15px;
}
/*---------------로고---------------*/
.logo h1{
	font-family: 'LINESeedKR-Bd';
	font-size: 80px;
	color: #ff0000;
	text-align: center;
	padding: 10px 0px;
}
/*---------------포스터---------------*/
.itembox{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
	width: 15%;
    margin: 2%;
}
.item img{ width: 100%; }
.postertitle{
	font-size: 18px;
	margin: 5% 0%;
}
.badge{
	margin-left: 5px;
	font-size: 10px;
	background-color: #ff0000;
}
/*---------------하단---------------*/
.footer{
	background-color: black;
	font-size: 15px;
	padding: 60px 0px;
}
.footbox{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footnav li{ 
	margin: 0px 15px;
	color: #505050;
}
/*---------------반응형---------------*/
@media(max-width: 500px){
	.bannerimg , .search{
		display: none;
	}
	.item{
		width: 45%;
		margin: 2%;
	}
	.logo h1{
		font-size: 50px;
	}
	.footer{
		padding: 5px 0px;
	}
	.footbox{
		padding: 20px 0px;
	}
	.footer h1{
		font-size: 15px;
	}
	.footnav{
		display: none;
	}
	.navbar-toggler-icon{
		width: 40px;
		height: 30px;
	}
} 


















